html,body {
    padding: 0;
    margin: 0;
}

section, .container-main, form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main, form {
    flex-direction: column;
}

section {
    width: 100%;
    height: 100%;
    
}

section, button{
background-color: #33100d;
}

.container-main {
    width: 35%;
    height: 50%;
    background-color: #ffda75;
}


form, html, body, .paragraph {
    width: 100%;
    height: 100%;
}

input, label, h1, #resultado {
    width: 80%;
    box-sizing: border-box; /*para não estourar a caixa*/
}

button, #resultado, input {
    height: 45px;
}

input {
    margin: 10px 0 10px 0;
    border: 2px solid grey;
    font-size: 15px;
    background: white;
}

label, p {
    font-size: 20px;
}

button {
    margin-top: 15px;
    width: 80%;
    font-size: 15px;
    color: #ffff;
    border: none;
    transition-duration: .15s;
}

button, .container-main, input, #resultado {
    border-radius: 5px;
} 

label {
    text-align: start;
}

h1 {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

button:hover {
    background: #5c2d16;
    cursor: pointer;
}

#resultado{
    margin: 15px;
}


.paragraph {
    margin: 0;
}


